.profileField_container {
  display: flex;
  justify-content: space-between;
  height: 34px;
  width: 510px;
  box-sizing: border-box;
  border-bottom: 1px solid #eaeaea;

  .fieldName {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #1e1e1e;
  }

  .fieldValue {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #999;
  }
}
